@using Abp.Runtime.Session
@using TDV.Web.Areas.Portal.Models.Layout
@using TDV.Web.Areas.Portal.Views.Shared.Components.PortalLogo
@model HeaderViewModel
@{
    Layout = null;
    var skin = @Model.LoginInformations.Theme.BaseSettings.Layout.DarkMode ? "dark" : "light";
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="brand-logo">
    @await Component.InvokeAsync(typeof(PortalLogoViewComponent), new
    {
        logoSkin = skin,
        logoClass = "theme-" + skin + "-show d-none d-lg-block h-30px"
    })
    @await Component.InvokeAsync(typeof(PortalLogoViewComponent), new
    {
        logoSkin = skin + "-sm",
        logoClass = "d-lg-none h-25px"
    })
</a>