@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TDV.Burial;

@using System.Globalization
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.Funerals
@model DriverAssignmentModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("FuneralAssignment")))

<div class="modal-body">
    <div id="FuneralAssignmentTab">
        <form name="FuneralInformationsForm" role="form" novalidate class="form-validation">   
            <div class="my-3">
                <label class="form-label" for="employeeId">@L("Employee")</label>
                @Html.DropDownList("employeeId", new SelectList(Model.EmployeerList,"Id","DisplayName", ""),@L("SelectAEmployee"), new { @class = "form-control" , @required="required" })
            </div>
            <div class="my-3">
                <label class="form-label" for="vehicleId">@L("Vehicle")</label>
                @Html.DropDownList("vehicleId", new SelectList(Model.VehicleList,"Id","DisplayName", ""),@L("SelectAVehicle"), new { @class = "form-control" , @required="required" })
            </div>
            <div class="my-3">
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")