
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.ContractFormules
@model ContractFormuleViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ContractFormuleInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Formule") :</h6>
                @Model.ContractFormule.Formule
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.ContractFormule.Description
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")