
@using TDV.Web.Areas.Portal.Models.Common.Modals
@using TDV.Web.Areas.Portal.Models.Stoks
@model StokViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="StokInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Kodu") :</h6>
                @Model.Stok.Kodu
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Adi") :</h6>
                @Model.Stok.Adi
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithClose.cshtml")